<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>AngularJS API</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="cherry">
    <nav class="navbar navbar-cherry navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand text-white" href="#">AngularJS</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="left-menu">
            <ul class="menu" ng-controller="menuCtrl">
                <li ng-repeat="x in items" ng-class="{true : 'active',false : ''}[$index == 0]">
                    <a href="#/{{x.tag}}" ng-click="tagTo('{{x.tag}}',$event)">{{x.name}}</a>
                    <ul class="second-menu">
                        <li ng-repeat="n in x.secondUl"><a href="#/{{n.tag}}" ng-click="tagTo('{{n.tag}}',$event)">{{n.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content" ng-controller="getContent">
            <div ng-include="'templete/{{tagHtml}}'"></div>
        </div>
    </div>
    <div class="footer">
        Copyright © 2006-2017 群顶科技  trendy.com.cn All Rights Reserved.
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angualr/angular.min.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("getContent",function($scope){

        });
        app.controller("menuCtrl",function($scope,$element,$http){
            $scope.tagHtml = "instruction.html";
            $http.get("json/leftMenu.json").then(function(result){
                $scope.items = result.data.menus;
            });
            $scope.tagTo = function (tag,$event) {
                var tag = tag;
                $element.find("li").removeClass("active");
                $($event.target).parent();
                $scope.tagHtml = tag;

            }
            /*$element.find("li").each(function(){
                $(this).off("click").on("click",function(){
                    $element.find("li").removeClass("active");
                    $(this).addClass("active");
                    console.log($(this))
                })
            });*/
        });
    </script>
</body>
</html>