<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>AngularJS API</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="Font-Awesome-master/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="cherry">
    <nav class="navbar navbar-cherry navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand text-white" href="#">AngularJS</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" ng-controller="menuCtrl">
        <div class="left-menu">
            <ul class="menu">
                <li ng-repeat="x in items" ng-class="{true : 'active',false : ''}[$index == 0]">
                    <a href="#/templete/{{x.tag}}" ng-click="tagTo($event)">{{x.name}}</a>
                    <ul class="second-menu">
                        <li ng-repeat="n in x.secondUl"><a href="#/templete/{{n.tag}}" ng-click="tagTo($event)">{{n.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="content">
            <div ng-include="'templete/intrduce.html'"></div>
        </div>
    </div>
    <div class="footer">
        Copyright © 2006-2017 群顶科技  trendy.com.cn All Rights Reserved.
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angualr/angular.js"></script>
    <script>
        var app = angular.module("app",[]);
        app.controller("menuCtrl",function($scope,$element,$http,$routerHref,$location){
            $http.get("json/leftMenu.json").then(function(result){
                $scope.items = result.data.menus;
            });
            $scope.tagTo = function ($event) {
                var $tag = $($event.target),
                    href = $event.target.href;
                $element.find("li").removeClass("active");
                $tag.parent().addClass("active");
                //获取路径
                var path =  $routerHref.distribution(href).hash.substring(1);
                $http.get(path).then(function(result){
                    $element.find(".content").html("").html(result.data)
                });

            }
        });
        app.service("$routerHref",function(){
            this.distribution = function(path){
                var pathArry = path.split("/");
                var pathMoudel = toObject(pathArry);
               return pathMoudel;
            }
            var toObject = function(arry){
                var obj = {};
                var str =  "";
                for (var i = 0; i < arry.length; i++){
                    if(i>4){
                        str += "/" + arry[i];
                    }
                }
                obj.request = arry[0];
                obj.localhost = arry[2];
                obj.projectName = arry [3];
                obj.hash = str;
                return obj;
            }
        });
    </script>
</body>
</html>