<div class="i-title">
    <h1>AngularJS简介</h1>
    <p>AngularJS 是一个 JavaScript 框架。</p>
    <p>它可通过script标签添加到 HTML 页面。</p>
    <p>AngularJS 通过 指令 扩展了 HTML，且通过 表达式 绑定数据到 HTML。</p>
</div>
<div class="i-content">
    <h3>AngularJS 是一个 JavaScript 框架</h3>
    <p>AngularJS 是一个 JavaScript 框架。它是一个以 JavaScript 编写的库。</p>
    <p>AngularJS 是以一个 JavaScript 文件形式发布的，可通过 script 标签添加到网页中：</p>
    <xmp class="javascript">
        <script src="js/angualr/angular.min.js"></script>
    </xmp>
    <div class="alert alert-warning">
        <i class="fa fa-lightbulb-o fa-2x"></i>Tip:
        <p>我们建议把脚本放在 &lt;body&gt; 元素的底部。</p>
        <p>这会提高网页加载速度，因为 HTML 加载不受制于脚本加载。</p>
    </div>
    <p>各版本angularJS：</p><a>https://code.angularjs.org/</a>
</div>
<div class="i-content">
    <h3>版本声明</h3>
    <p>开发使用的版本为较为稳定的v1.6，一些古老的，或者是被抛弃的语法将不再重复</p>
</div>
<div class="i-content">
    <h3>AngularJS 扩展了 HTML</h3>
    <p>AngularJS 通过 <b>ng-directives</b> 扩展了 HTML。</p>
    <p><b>ng-app</b> 指令定义一个 AngularJS 应用程序。</p>
    <p><b>ng-model</b> 指令把元素值（比如输入域的值）绑定到应用程序。</p>
    <p><b>ng-bind</b> 指令把应用程序数据绑定到 HTML 视图。</p>
    <xmp class="html">
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <script src="http://cdn.bootcss.com/angular.js/1.6.0/angular.js"></script>
        </head>
        <body>

        <div ng-app="">
            <p>名字 : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
        </div>

        </body>
        </html>
    </xmp>
    <p>实例讲解：</p>
    <p>当网页加载完毕，AngularJS 自动开启。</p>
    <p><b>ng-app</b> 指令告诉 AngularJS，&lt;div&gt; 元素是 AngularJS 应用程序 的<b>"所有者"</b>。</p>
    <p><b>ng-model</b> 指令把输入域的值绑定到应用程序变量 <b>name</b>。</p>
    <p><b>ng-bind</b> 指令把应用程序变量 name 绑定到某个段落的 innerHTML。</p>
    <div class="alert alert-warning">
        <i class="fa fa-lightbulb-o fa-2x"></i>Tip:
        <p>如果您移除了 ng-app 指令，HTML 将直接把表达式显示出来，不会去计算表达式的结果。</p>
    </div>
</div>
<div class="i-content">
    <h3>什么是 AngularJS？</h3>
    <p>AngularJS 使得开发现代的单一页面应用程序（SPAs：Single Page Applications）变得更加容易。</p>
    <ul class="content-list">
        <li>AngularJS 把应用程序数据绑定到 HTML 元素。</li>
        <li>AngularJS 可以克隆和重复 HTML 元素。</li>
        <li>AngularJS 可以隐藏和显示 HTML 元素。</li>
        <li>AngularJS 可以在 HTML 元素"背后"添加代码。</li>
        <li>AngularJS 支持输入验证。</li>
    </ul>
</div>
<div class="i-content">
    <h3>AngularJS 指令</h3>
    <p>正如您所看到的，AngularJS 指令是以 <b>ng</b> 作为前缀的 HTML 属性。</p>
    <p><b>ng-init</b> 指令初始化 AngularJS 应用程序变量。</p>
    <xmp class="html">
        <div ng-app="" ng-init="firstName='John'">
            <p>姓名为 <span ng-bind="firstName"></span></p>
        </div>
    </xmp>
    <div class="alert alert-warning">
        <i class="fa fa-lightbulb-o fa-2x"></i>Tip:
        <p>HTML5 允许扩展的（自制的）属性，以 <b>data-</b> 开头。</p>
        <p>AngularJS 属性以 <b>ng-</b> 开头，但是您可以使用 <b>data-ng-</b> 来让网页对 HTML5 有效。</p>
    </div>
</div>
<div class="i-content">
    <h3>AngularJS 表达式</h3>
    <p>AngularJS 表达式写在双大括号内：<b>{{ expression }}</b>。</p>
    <p>AngularJS 表达式把数据绑定到 HTML，这与 <b>ng-bind</b> 指令有异曲同工之妙。</p>
    <p>AngularJS 将在表达式书写的位置"输出"数据。</p>
    <p><b>AngularJS 表达式</b> 很像 <b>JavaScript 表达式</b>：它们可以包含文字、运算符和变量。</p>
    <p>你可以 通过写一个模板作为 通过写一个模板作为 通过写一个模板作为 通过写一个模板作为 通过写一个模板作为 HTMLHTML 页面， 页面， 创建视图层 创建视图层 创建视图层 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 ，然后用模型中的数据合并它。 正 如我们看到的，你可以 如我们看到的，你可以 如我们看到的，你可以 如我们看到的，你可以 如我们看到的，你可以 在 DOM DOM中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中插入一个占位符，设置它的内容就像这样： 中</p>
    <p>我们称这个为 我们称这个为 我们称这个为 二次解析赋值（syntax interpolation），因为它把新的内容值插 ，因为它把新的内容值插 ，因为它把新的内容值插 ，因为它把新的内容值插 ，因为它把新的内容值插 ，因为它把新的内容值插 ，因为它把新的内容值插 入到一个已存在的模板中。 入到一个已存在的模板中。 入到一个已存在的模板中。 入到一个已存在的模板中。 入到一个已存在的模板中。</p>
    <p>实例 {{ 5 + 5 }} 或 {{ firstName + " " + lastName }}</p>
    <xmp class="html">
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <script src="http://cdn.bootcss.com/angular.js/1.6.0/angular.js"></script>
        </head>
        <body>

        <div ng-app="">
            <p>我的第一个表达式： {{ 5 + 5 }}</p>
        </div>

        </body>
        </html>
    </xmp>
    <div class="alert alert-warning">
        <i class="fa fa-lightbulb-o fa-2x"></i>Tip:
        <p>HTML5 允许扩展的（自制的）属性，以 <b>data-</b> 开头。</p>
        <p>AngularJS 属性以 <b>ng-</b> 开头，但是您可以使用 <b>data-ng-</b> 来让网页对 HTML5 有效。</p>
    </div>
</div>
<div class="i-content">
    <h3>AngularJS 应用</h3>
    <p>AngularJS 模块（Module） 定义了 AngularJS 应用。</p>
    <p>AngularJS 控制器（Controller） 用于控制 AngularJS 应用。</p>
    <p>ng-app指令定义了应用, ng-controller 定义了控制器。</p>
    <xmp class="html">
        <div ng-app="myApp" ng-controller="myCtrl">

            名: <input type="text" ng-model="firstName"><br>
            姓: <input type="text" ng-model="lastName"><br>
            <br>
            姓名: {{firstName + " " + lastName}}

        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.firstName= "John";
                $scope.lastName= "Doe";
            });
        </script>
    </xmp>
</div>