<div class="i-title">
    <h1>AngularJS Select(选择框)</h1>
    <p>AngularJS 可以使用数组或对象创建一个下拉列表选项。</p>
</div>
<div class="i-content">
    <h3>使用 ng-options 创建选择框</h3>
    <p>在 AngularJS 中我们可以使用 ng-option 指令来创建一个下拉列表，列表项通过对象和数组循环输出，如下实例</p>
    <xmp class="html">
        <div ng-app="myApp" ng-controller="myCtrl">

            <select ng-init="selectedName = names[0]" ng-model="selectedName" ng-options="x for x in names">
            </select>

        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.names = ["Google", "Runoob", "Taobao"];
            });
        </script>


    </xmp>
</div>
<div class="i-content">
    <h3>ng-options 与 ng-repeat</h3>
    <p>我们也可以使用ng-repeat 指令来创建下拉列表：</p>
    <xmp class="html">
        <select>
            <option ng-repeat="x in names">{{x}}</option>
        </select>
    </xmp>
    <p>ng-repeat 指令是通过数组来循环 HTML 代码来创建下拉列表，但 ng-options 指令更适合创建下拉列表，它有以下优势：</p>
    <p>使用 ng-options 的选项的一个对象， ng-repeat 是一个字符串。</p>
</div>
<div class="i-content">
    <h3>应该用哪个更好?</h3>
    <p>假设我们使用以下对象:</p>
    <xmp class="javascript">
        $scope.sites = [
        {site : "Google", url : "http://www.google.com"},
        {site : "Runoob", url : "http://www.runoob.com"},
        {site : "Taobao", url : "http://www.taobao.com"}
        ];
    </xmp>
    <p>ng-repeat 有局限性，选择的值是一个字符串:</p>
    <xmp class="html">
        <select ng-model="selectedSite">
            <option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
        </select>

        <h1>你选择的是: {{selectedSite}}</h1>
    </xmp>
    <p>使用 ng-options 指令，选择的值是一个对象：</p>
    <xmp class="html">
        <select ng-model="selectedSite" ng-options="x.site for x in sites">
        </select>

        <h1>你选择的是: {{selectedSite.site}}</h1>
        <p>网址为: {{selectedSite.url}}</p>
    </xmp>
    <p>当选择值是一个对象时，我们就可以获取更多信息，应用也更灵活。</p>
</div>
<div class="i-content">
    <h3>数据源为对象</h3>
    <p>前面实例我们使用了数组作为数据源，以下我们将数据对象作为数据源。</p>
    <xmp class="javascript">
        $scope.sites = {
        site01 : "Google",
        site02 : "Runoob",
        site03 : "Taobao"
        };
    </xmp>
    <p>ng-options 使用对象有很大的不同，如下所示：</p>
    <xmp class="html">
        <select ng-model="selectedSite" ng-options="x for (x, y) in sites">
        </select>

        <h1>你选择的值是: {{selectedSite}}</h1>
    </xmp>
</div>